@media screen and (max-width:600px){
    /* body{
        background-color: red;
    } */
    header .item-container{
        display: none;
    }
    header .header-section{
        width: 90%;
    }
    header .nav-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #threeLine{
        display: block;
        justify-self: right;
    }
    #banner{
        width: 90%;
        height: 550px;
    }
    #banner h1 {
        font-size: 30px;
        font-style: bold;
        margin-bottom: 10px;
        width: 90%;
        text-align: center;
    }

    #banner p{
        width: 90%;
        text-align: center;
    }
    #banner .search{
        flex-direction: column;
        margin-top: 20px;
    }

    #banner .search input,select {
        width: 255px;
        height: 52px;
        border-radius: 8px;
        /* padding-left: 16px; */
        font-size: 16px;
        border: none;
      }
      #banner .search button{
        width: 255px;
        height: 52px;
      }

}