@media screen and (max-width:600px){
    /* body{
        background-color: red;
    } */
    header .item-container{
        display: none;
    }
    header .header-section{
        width: 90%;
    }
    header .nav-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #threeLine{
        display: block;
        justify-self: right;
    }
    #banner{
        width: 90%;
        height: 550px;
    }
    #banner h1 {
        font-size: 30px;
        font-style: bold;
        margin-bottom: 10px;
        width: 90%;
        text-align: center;
    }

    #banner p{
        width: 90%;
        text-align: center;
    }
    #banner .search{
        flex-direction: column;
        margin-top: 20px;
    }

    #banner .search input,select {
        width: 255px;
        height: 52px;
        border-radius: 8px;
        /* padding-left: 16px; */
        font-size: 16px;
        border: none;
        padding: 0;
      }
      #banner .search button{
        width: 255px;
        height: 52px;
      }

      #popular-tour {
        flex-direction: column;
        gap: 20px;
      }

      #popular-tour .paragraph {
        padding: 0;
      }

      #destination{
        width: 90%;
        margin: auto;
      }

      #destination .heading h1{
        width: 100%;
      }
      #destination .heading p {
        width: 100%;
      }
      #destination .grid-layout .card{
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      #why-us .cards-container {
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 24px;
      }
      #why-us .cards {
        width: 100%;
        padding: 8px;
        overflow-y: hidden;
      }
      #newsletter{
        flex-direction: column;
      }
      
#newsletter .image-container{
    width: 90%;
    margin: auto;
}
#newsletter .text-container {
    width: 90%;
    margin: auto;
    
    padding: 10px;
    overflow-y: hidden;
  }

}