* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.nav-container {
  /* border: 2px red solid; */
  min-height: 20px;
  display: flex;
  align-items: center;
  width: 50%;
}

/* header .nav-container .icon-container {
  display: flex;
  gap: 8px;
} */
.icon-container {
  display: flex;
  gap: 8px;
  font-size: 36px;

}

.icon-container span {
  color: #ff5400;
}

#threeLine {
  display: none;
}

.nav-container img {
  width: 48px;
}

.nav-container p {
  font-size: 36px;
}

.special {
  color: #ff5400;
  font-weight: 800;
}

.header-section {
  max-width: 81%;
  /* background-color: #FF5400; */
  margin: auto;
  display: flex;
  margin-top: 50px;
}

.item-container {
  /* border: yellow 3px solid; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-container a {
  text-decoration: none;
  justify-content: center;
  color: #424247;
}

.item-container span {
  color: #ff5400;
}

#banner {
  background-image: linear-gradient(180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 81%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner h1 {
  width: 51%;
  font-size: 64px;
  color: #fff;
  margin-bottom: 24px;
  font-style: bold;
}

#banner p {
  width: 55%;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

#banner .search {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  display: flex;
  gap: 24px;
  width: fit-content;
  margin-top: 48px;
}

#banner .search input,
select {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  /* padding-left: 16px; */
  font-size: 16px;
  border: none;
  padding-left: 10px;
}

#banner .search button {
  background-color: #ff5400;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-style: bold;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#banner .search button img {
  width: 24px;
  height: 24px;
}

#popular-tour {
  /* height: 500px; */
  width: 81%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#popular-tour .paragraph {
  flex: 1;
  padding: 20px;
}

#popular-tour .photo {
  flex: 1;
}

#popular-tour .paragraph h1 {
  color: #131318;
  font-size: 40px;
  margin-bottom: 24px;
}

#popular-tour .paragraph p {
  width: 100%;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 26px;
  color: (19, 19, 24, 0.7);
}

#popular-tour .paragraph button {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 13px 34px;
  border: none;
}

#popular-tour .photo img {
  width: 100%;
  height: 100%;
  display: flex;
}

#destination {
  /* border: 2px red solid; */
  width: 81%;
  margin: auto;
}

#destination .heading {
  width: 50%;
  margin: auto;
}

#destination .heading h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
  margin-top: 100px;
}

#destination .heading p {
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

#destination .grid-layout {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

/* 
#destination .maldives, .indonesia{
  width: 550px;
  height: 300px;
}
#destination .srilanka{
  width: 350px;
  height: 280px;
}
#destination .north-america{
  width: 460px;
  height: 280px;
}
#destination .kashmir{
  width: 260px;
  height: 270px;
}

#destination .bangladesh{
  width: 460;
  height: 290px;
}
#destination .bandarban{
  width: 630px;
  height: 290px;
} */

#destination .grid-layout .maldives {
  background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 5.png");
  width: 550px;
  height: 300px;
  border-radius: 16px;
}

#destination .grid-layout .indonesia {
  background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 8.png");
  width: 550px;
  height: 300px;
  border-radius: 16px;
}

#destination .grid-layout .srilanka {
  background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 6.png");
  width: 350px;
  height: 280px;
  border-radius: 16px;
}

#destination .grid-layout .north-america {
  background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 7.png");
  width: 460px;
  height: 280px;
  border-radius: 16px;
}

#destination .grid-layout .kashmir {
  background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 9.png");
  width: 260px;
  height: 270px;
  border-radius: 16px;
}


#destination .grid-layout .bangladesh {
  background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 11.png");
  width: 460px;
  height: 290px;
  border-radius: 16px;
}

#destination .grid-layout .bandarban {
  background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 10.png");
  width: 630px;
  height: 290px;
  border-radius: 16px;
}

#destination .grid-layout p {
  color: #FFF;
  font-size: 28px;
}

#destination .card {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 500px;
  background-color: rgba(19, 19, 24, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

footer .footer-icon-container {
  font-size: 32px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

footer .footer-icon-container img {
  width: 40px;
  height: 46px;
}

footer .footer-icon-container h5 span {
  color: #FF5400;
}

footer p {
  color: #5A5A5D;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  width: 50%;
  margin: auto;
  margin-bottom: 32px;
}

footer .social-icon {
  width: 174.322px;
  height: 24px;
  flex-shrink: 0;
}

#horizontal-line {
  width: 60%;
  height: 1px;
  background-color: rgba(19, 19, 24, 0.10);
  margin: 50px 0;
}

footer h3 {
  font-size: 16px;
  font-style: normal;
}


/* why us  */
#why-us {
  /* border: 2px red solid; */
  width: 81%;
  margin: auto;
}

#why-us .heading {
  width: 50%;
  margin: auto;
}

#why-us .heading h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
  margin-top: 100px;
}

#why-us .heading p {
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

#why-us .cards {
  width: 550px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  /* background: rgba(251, 181, 99, 0.05); */
  padding: 32px;
  margin-top: 48px;
}

#why-us .cards img {
  height: 64px;
  width: 64px;
  margin-bottom: 32px;
}

#why-us .cards h5 {
  font-size: 24px;
  margin-bottom: 16px;
}

#why-us .cards p {
  color: #5A5A5D;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

#why-us .cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 24px;
}

#card1{
  background-color: rgba(251, 181, 99, 0.05);
}

#card2{
  background-color: rgba(41, 206, 246, 0.05)  ;
  /* background-color: red ; */
}

#card3{
  margin: auto;
  background-color: rgba(233, 68, 68, 0.05);;
}